@import url('https://fonts.googleapis.com/css?family=PT+Sans');

@font-face {
  font-family: 'PT Sans';
  src: url("https://fonts.gstatic.com/s/ptsans/v10/jizaRExUiTo99u79D0KExQ.woff2") format('opentype');
  font-display: block;
}


* {
  box-sizing: border-box;
}

#root {
  width: 100vw;
}

img:-moz-loading {
  visibility: hidden;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
  font-family: 'PT Sans';
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  width: 100%;
}

.flex-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  align-content: center;
}

#site-header {
  background: rgb(40, 40, 200);
  height: 90px;
  width: 100%;
  box-shadow: 0px 2px 5px gray;
  font-size: 18px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

#site-header h1 {
  margin: 10px;
}

#search-block {
  display: flex;
  flex-direction: column;
  margin: auto;
  position: relative;
  width: 100%;
}

#search-form {
  display: flex;
  width: 100%;
  justify-content: center;
}

#main-searchbar {
  width: 70%;
  height: 40px;
  border: none;
  border-bottom: 1px solid gray;
  margin-top: 5%;
  padding: 0 2px;
  font-size: 18px;
  line-height: 22px;
}

#search-button {
  font-size: 1.1em;
  margin-left: 10px;
  color: white;
  border: none;
  border-radius: 5px;
  background: rgb(40, 40, 200);
  background-image: url('../images/dog_search_image.png');
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  width: 44px;
  height: 30px;
  margin-top: auto;
  margin-bottom: 2px;
}

#search-button:hover {
  cursor: pointer;
}

#search-button:focus {
  outline: none;
}

#auto-suggest {
  position: absolute;
  width: calc(70% + 54px);
  list-style: none;
  background: rgba(255, 255, 255, .9);
  z-index: 2;
  margin-top: 1px;
  margin-left: 0;
  padding-left: 0;
  top: 100%;
}

.search-suggestion {
  font-size: 18px;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  margin-right: auto;
  color: rgba(0, 0, 0, .7);
  cursor: default;
}

.search-suggestion:hover {
  background: rgba(0, 0, 0, .06);
  cursor: default;
}

#home-content {
  margin-top: 60px;
  margin-bottom: 60px;
  text-align: center;
  position: relative;
  max-width: 80%;
}

#home-content img {
  width: 100%;
  margin-bottom: 0;
}

#home-content p {
  position: absolute;
  height: 20px;
  margin-top: 0;
  color: black;
  width: 100%;
  font-weight: bold;
}

#displaying-results {
  margin: auto;
  text-align: center;
  margin-top: 50px;
  font-size: 18px;
}

.results-paragraph {
  margin-top: 40px;
  margin-bottom: 40px;
}

#outer-results-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: calc(100% - (100vw - 100%));
}

#results-container {
  width: 100%;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.result-image {
  margin: 5px;
  max-width: 100px;
  max-height: 120px;
}

.open-image {
  background: rgba(0, 0, 0, .6);
  position: fixed;
  height: 100%;
  width: 100%;
  margin: auto;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.image-container {
  max-width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-container a {
  max-width: 94%;
  max-height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-container img {
  max-width: 95vw;
  max-height: 95vh;
}

.cancel-button {
  position: absolute;
  right: 20px;
  top: 20px;
  color: white;
  border: 3px solid white;
  background: rgba(0, 0, 0, 0);
  border-radius: 5px;
  font-weight: bold;
  font-size: 1.1em;
  max-width: 40px;
  max-height: 40px;
}

.modal-open {
  overflow: hidden;
}

#not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 40px;
}

#not-found h1 {
  font-size: 1.2em;
  margin-bottom: 20px;
}

#not-found a {
  font-size: 1.4em;
  color: rgb(40, 40, 200);
}

#site-footer {
  background: rgb(40, 40, 200);
  height: 80px;
  width: 100%;
  margin-top: auto;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}

#site-footer a {
  width: 32px;
  height: 32px;
  background: url('../images/GitHub-Mark-32px.png');
  background-repeat: no-repeat;
}



/* --------------
  Media Queries
-------------- */


@media (min-width: 260px) {
  .result-image {
    max-width: 120px;
  }
}


@media (min-width: 450px) {

  #site-header {
    height: 120px;
    font-size: 30px;
  }

  #main-searchbar {
    margin-top: 12vh;
  }

  .results-paragraph {
    margin-top: 60px;
    margin-bottom: 60px;
  }

  .result-image {
    max-width: 150px;
    max-height: 180px;
  }

  #not-found {
    padding-top: 30px;
  }

  #not-found a {
    padding-top: 10px;
  }


  #site-footer {
    height: 120px;
  }

}


@media (min-width: 768px) {

  #outer-results-container {
    margin-left: calc(100vw - 100%);
  }

  #home-content {
    margin-top: 100px;
    margin-bottom: 100px;
    max-width: 50%;
  }

  #main-searchbar {
    width: 40%;
  }

  #search-button {
    width: 54px;
    height: 34px;
  }

  #auto-suggest {
    width: calc(40% + 64px);
  }

  #results-container {
    width: 100%;
  }

  .result-image {
    max-width: 190px;
    max-height: 280px;
  }

  .cancel-button {
    font-size: 1.5em;
  }

  #not-found {
    padding-top: 50px;
    padding-bottom: 70px;
  }

  #not-found h1 {
    font-size: 1.6em;
  }

  #not-found a {
    padding-top: 30px;
  }


}



@media (min-width: 1200px) {

  .results-paragraph {
    margin-top: 70px;
    margin-bottom: 70px;
  }

  .result-image {

    margin: 14px;
    max-width: 240px;
    max-height: 420px;
  }

  #not-found {
    padding-top: 80px;
    padding-bottom: 90px;
  }

  #not-found h1 {
    margin-bottom: 30px;
  }

}


@media (min-width: 1440px) {

  .result-image {
    max-width: 330px;
  }
}


/* -- end -- */
